if-game-communiy-launcher/.vs/
if-game-communiy-launcher/.vscode/
EscapeKeyDownTracker-NetFrameworkWindowsConsoleApp/.vs/
EscapeKeyDownTracker-NetFrameworkWindowsConsoleApp/bin/
EscapeKeyDownTracker-NetFrameworkWindowsConsoleApp/obj/
